name: Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'

      - name: Build CLI
        run: make build-cli

      - name: Run Integration Tests
        env:
          OMS_PORTAL_API_KEY: ${{ secrets.OMS_PORTAL_API_KEY }}
          OMS_PORTAL_API: ${{ secrets.OMS_PORTAL_API }}
        run: make test-integration
